<?xml version="1.0"?>
<config>
    <modules>
        <Mobicommerce_Mobiadmin2>
            <version>2.0.0</version>
        </Mobicommerce_Mobiadmin2>
    </modules>
    <global>
        <helpers>
            <mobiadmin2>
                <class>Mobicommerce_Mobiadmin2_Helper</class>
            </mobiadmin2>
        </helpers>
		<blocks>
            <mobiadmin2>
                <class>Mobicommerce_Mobiadmin2_Block</class>
            </mobiadmin2>
			<adminhtml>
                <rewrite>
                    <page_menu>Mobicommerce_Mobiadmin2_Block_Adminhtml_Menu</page_menu>
                </rewrite>
            </adminhtml>
			<sales>
			    <rewrite>
				    <adminhtml_report_filter_form_order>Mobicommerce_Mobiadmin2_Block_Adminhtml_Report_Filter_Form_Order</adminhtml_report_filter_form_order>
			    </rewrite>
			</sales>
        </blocks>
		<models>
			<mobiadmin2>
				<class>Mobicommerce_Mobiadmin2_Model</class>
				<resourceModel>mobiadmin2_resource</resourceModel>
			</mobiadmin2>
			<mobiadmin2_resource>
                <class>Mobicommerce_Mobiadmin2_Model_Resource</class>
                <entities>
                    <applications>
                        <table>mobicommerce_applications2</table>
                    </applications>
					<appsetting>
                        <table>mobicommerce_applications_settings2</table>
                    </appsetting>
					<appwidget>
                        <table>mobi_app_widgets2</table>
                    </appwidget>
					<devicetokens>
					    <table>mobicommerce_devicetokens</table>
					</devicetokens>
					<notification>
					    <table>mobicommerce_notification</table>
					</notification>
					<licence>
					    <table>mobicommerce_licence</table>
					</licence>
					<widget>
					    <table>mobicommerce_widget2</table>
					</widget>
					<categorywidget>
					    <table>mobicommerce_category_widget2</table>
					</categorywidget>
					<categoryicon>
					    <table>mobicommerce_category_icon2</table>
					</categoryicon>
                </entities>
            </mobiadmin2_resource>
		</models>
		<resources>
		    <mobiadmin2_setup>
			    <setup>
			        <module>Mobicommerce_Mobiadmin2</module>
			    </setup>
			    <connection>
			        <use>core_setup</use>
			    </connection>
		    </mobiadmin2_setup>
		    <mobiadmin2_write>
			    <connection>
				    <use>core_write</use>
				</connection>
		    </mobiadmin2_write>
		    <mobiadmin2_read>
			    <connection>
			        <use>core_read</use>
			    </connection>
		    </mobiadmin2_read>
	   </resources>
	   <events>
	   		<!-- events to clear cache -->
	   		<catalog_category_prepare_save>
	   			<observers>
	   				<Mobicommerce_Mobiadmin2_categoryedit_observer>
	   					<class>mobiadmin2/observer</class>
						<method>clearAllCache</method>
	   				</Mobicommerce_Mobiadmin2_categoryedit_observer>
	   			</observers>
	   		</catalog_category_prepare_save>
	   			
	   		<catalog_controller_category_delete>
	   			<observers>
	   				<Mobicommerce_Mobiadmin2_categorydelete_observer>
	   					<class>mobiadmin2/observer</class>
						<method>clearAllCache</method>
	   				</Mobicommerce_Mobiadmin2_categorydelete_observer>
	   			</observers>
	   		</catalog_controller_category_delete>

	   		<catalog_product_prepare_save>
	   			<observers>
	   				<Mobicommerce_Mobiadmin2_productedit_observer>
	   					<class>mobiadmin2/observer</class>
						<method>clearAllCache</method>
	   				</Mobicommerce_Mobiadmin2_productedit_observer>
	   			</observers>
	   		</catalog_product_prepare_save>

			<catalog_controller_product_delete>
	   			<observers>
	   				<Mobicommerce_Mobiadmin2_productdelete_observer>
	   					<class>mobiadmin2/observer</class>
						<method>clearAllCache</method>
	   				</Mobicommerce_Mobiadmin2_productdelete_observer>
	   			</observers>
	   		</catalog_controller_product_delete>

	   		<admin_system_config_changed_section_mobisociallogin>
	   			<observers>
	   				<Mobicommerce_Mobiadmin2_systemconfig_save_observer>
	   					<class>mobiadmin2/observer</class>
						<method>clearAllCache</method>
	   				</Mobicommerce_Mobiadmin2_systemconfig_save_observer>
	   			</observers>
	   		</admin_system_config_changed_section_mobisociallogin>
	   		<cms_page_prepare_save>
	   			<observers>
	   				<Mobicommerce_Mobiadmin2_cmspage_save_observer>
	   					<class>mobiadmin2/observer</class>
						<method>clearAllCache</method>
	   				</Mobicommerce_Mobiadmin2_cmspage_save_observer>
	   			</observers>
	   		</cms_page_prepare_save>
	   		<adminhtml_cmspage_on_delete>
	   			<observers>
	   				<Mobicommerce_Mobiadmin2_cmspage_delete_observer>
	   					<class>mobiadmin2/observer</class>
						<method>clearAllCache</method>
	   				</Mobicommerce_Mobiadmin2_cmspage_delete_observer>
	   			</observers>
	   		</adminhtml_cmspage_on_delete>
	   		<!-- events to clear cache -->

	        <Mobicommerce_Mobiadmin2_createapp_predispatch>
		        <observers>
					<Mobicommerce_Mobiadmin2_ini_observer>
						<class>mobiadmin2/observer</class>
						<method>createMobicommerceIniIfNotExists</method>
					</Mobicommerce_Mobiadmin2_ini_observer>
				</observers>
	        </Mobicommerce_Mobiadmin2_createapp_predispatch>
		    <sales_convert_quote_to_order>
                <observers>
                    <Mobicommerce_Mobiadmin2_saveplatform_observer>
                        <class>mobiadmin2/observer</class>
                        <method>sales_convert_quote_to_order</method> 
                    </Mobicommerce_Mobiadmin2_saveplatform_observer>
                </observers>
            </sales_convert_quote_to_order>
            <store_add>
                <observers>
                    <Mobicommerce_Mobiadmin2_store_add_observer>
                        <type>singleton</type>
                        <class>mobiadmin2/observer</class>
                        <method>applyStoreIdToExistingApps</method>
                    </Mobicommerce_Mobiadmin2_store_add_observer>
                </observers>
            </store_add>
            <store_delete>
                <observers>
                    <Mobicommerce_Mobiadmin2_store_delete_observer>
                        <type>singleton</type>
                        <class>mobiadmin2/observer</class>
                        <method>deleteStoreIdToExistingApps</method>
                    </Mobicommerce_Mobiadmin2_store_delete_observer>
                </observers>
            </store_delete>
	   </events>
    </global>
	<admin>
        <routers>
            <mobiadmin2>
                <use>admin</use>
                <args>
                    <module>Mobicommerce_Mobiadmin2</module>
                    <frontName>mobicommerce2</frontName>
                </args>
            </mobiadmin2>
        </routers>
    </admin>
	<adminhtml>
	    <layout>
            <updates>
                <mobiadmin2>
                    <file>mobiadmin2.xml</file>
                </mobiadmin2>
            </updates>
        </layout> 
		<translate>
		    <modules>
			   	<mobiadmin2>
			       	<files>
				       <default>Mobicommerce_Mobiadmin2.csv</default>
				   	</files>
			   	</mobiadmin2>
			</modules>
		</translate>
	</adminhtml>
</config> 