<?xml version="1.0"?>
<config>
    <modules>
        <Mobicommerce_Mobiservices2>
            <version>2.0.0</version>
        </Mobicommerce_Mobiservices2>
    </modules>
    <frontend>
        <routers>
            <mobiservices2>
                <use>standard</use>
                <args>
                    <module>Mobicommerce_Mobiservices2</module>
                    <frontName>mobiservices2</frontName>
                </args>
            </mobiservices2>
        </routers>
    </frontend>    
    <global>
        <models>
            <mobiservices2>
                <class>Mobicommerce_Mobiservices2_Model</class>
                <resourceModel>mobiservices2_mysql4</resourceModel>
            </mobiservices2>
            <mobiservices2_mysql4>
                <class>Mobicommerce_Mobiservices2_Model_Mysql4</class>
                <entities>
                    <mobiservices2>
                        <table>mobicommerce_applications2</table>
                    </mobiservices2>
                </entities>
            </mobiservices2_mysql4>
        </models>
        <helpers>
            <mobiservices2>
                <class>Mobicommerce_Mobiservices2_Helper</class>
            </mobiservices2>
        </helpers> 
        <blocks>
            <mobiservices2>
                <class>Mobicommerce_Mobiservices2_Block</class>
            </mobiservices2>
        </blocks>
		<resources>
            <mobiservices2_setup>
                <setup>
                    <module>Mobicommerce_Mobiservices2</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mobiservices2_setup>
            <mobiservices2_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mobiservices2_write>
            <mobiservices2_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mobiservices2_read>
        </resources>
    </global>

    <default>
        <mobicommerce2_config>
            <cache>
                <is_active>0</is_active>
            </cache>
        </mobicommerce2_config>
    </default>   
</config>