<?xml version="1.0"?>
<config>
    <modules>
        <Mobicommerce_Mobistorelocator2>
            <version>0.0.1</version>
        </Mobicommerce_Mobistorelocator2>
    </modules>
    <admin>
        <routers>
            <mobistorelocator2>
                <use>admin</use>
                <args>
                    <module>Mobicommerce_Mobistorelocator2</module>
                    <frontName>mobistorelocator2</frontName>
                </args>
            </mobistorelocator2>
        </routers>
    </admin>	
    <adminhtml>
        <layout>
            <updates>
                <mobistorelocator2>
                    <file>mobistorelocator2.xml</file>
                </mobistorelocator2>
            </updates>
        </layout>		
        <translate>
            <modules>
                <Mobicommerce_Mobistorelocator2>
                    <files>
                        <default>Mobicommerce_Mobistorelocator2.csv</default>
                    </files>
                </Mobicommerce_Mobistorelocator2>
            </modules>
        </translate>		
    </adminhtml>   
    <global>
        <models>
            <mobistorelocator2>
                <class>Mobicommerce_Mobistorelocator2_Model</class>
                <resourceModel>mobistorelocator2_mysql4</resourceModel>
            </mobistorelocator2>
            <mobistorelocator2_mysql4>
                <class>Mobicommerce_Mobistorelocator2_Model_Mysql4</class>
                <entities>
                    <store>
                        <table>mobistorelocator_store2</table>
                    </store>
                    <holiday>
                        <table>mobistorelocator_holiday2</table>
                    </holiday>
                    <location>
                        <table>mobistorelocator_location2</table>
                    </location>
                    <region>
                        <table>mobidirectory_country_region2</table>
                    </region>
                    <storereviews>
                        <table>mobistorelocator_storereviews2</table>
                    </storereviews>
                    <image>
                        <table>mobistorelocator_image2</table>
                    </image>
                    <value>
                        <table>mobistorelocator_store_value2</table>
                    </value>
                    <specialday>
                        <table>mobistorelocator_specialday2</table>
                    </specialday>
                    <rating>
                        <table>mobistorelocator_rating2</table>
                    </rating>
                </entities>
            </mobistorelocator2_mysql4>
        </models>
        <resources>
            <mobistorelocator2_setup>
                <setup>
                    <module>Mobicommerce_Mobistorelocator2</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mobistorelocator2_setup>
            <mobistorelocator2_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mobistorelocator2_write>
            <mobistorelocator2_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mobistorelocator2_read>
        </resources>
        <blocks>
            <mobistorelocator2>
                <class>Mobicommerce_Mobistorelocator2_Block</class>
            </mobistorelocator2>
        </blocks>
        <helpers>
            <mobistorelocator2>
                <class>Mobicommerce_Mobistorelocator2_Helper</class>
            </mobistorelocator2>           
            <core>
                <rewrite>
                    <data>Mobicommerce_Mobistorelocator2_Helper_Core_Abstract</data>
                </rewrite>
            </core>       
        </helpers>
    </global>
    <default>
        <mobistorelocator2>
            <mobistorelocator2>
                <active>0</active>
                <search_region>1</search_region>
                <store_map>2</store_map>
                <storezoom>12</storezoom>
                <storerating>1</storerating>
            </mobistorelocator2>
        </mobistorelocator2>
    </default>	
</config>