<?xml version="1.0"?>
<config>
    <modules>
        <Mobicommerce_Mobisociallogin2>
            <version>1.0.0</version>
        </Mobicommerce_Mobisociallogin2>
    </modules>
    <frontend>
        <routers>
            <mobisociallogin2>
                <use>standard</use>
                <args>
                    <module>Mobicommerce_Mobisociallogin2</module>
                    <frontName>mobisociallogin2</frontName>
                </args>
            </mobisociallogin2>
        </routers>
        <layout>
            <updates>
                <mobisociallogin2>
                    <file>mobisociallogin2.xml</file>
                </mobisociallogin2>
            </updates>
        </layout>
		<events>			
			<controller_action_predispatch_customer_account_edit>
				<observers>
					<Mobicommerce_Mobisociallogin2_observer>
						<type>singleton</type>
						<class>mobisociallogin2/observer</class>
						<method>customer_edit</method>
					</Mobicommerce_Mobisociallogin2_observer>
		       </observers>				
			</controller_action_predispatch_customer_account_edit>
		</events>
		<translate>
			<modules>
				<Mobicommerce_Mobisociallogin2>
					<files>
						<default>Mobicommerce_Mobisociallogin2.csv</default>
					</files>
				</Mobicommerce_Mobisociallogin2>	
			</modules>
		</translate>
    </frontend>
    <admin>
        <routers>
			<mobisocialloginadmin2>
				<use>admin</use>
				<args>
					<module>Mobicommerce_Mobisociallogin2</module>
					<frontName>mobisocialloginadmin2</frontName>
				</args>
			</mobisocialloginadmin2>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<mobisociallogin2 translate="title">
											<title>Mobisocial Login</title>
											<sort_order>50</sort_order>
										</mobisociallogin2>									
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>	
		<layout>
			<updates>
				<mobisociallogin2>
					<file>mobisociallogin2.xml</file>
				</mobisociallogin2>
			</updates>
		</layout>
		<events>
			<controller_action_predispatch_adminhtml>
				<observers>
					<Mobicommerce_Mobisociallogin2_observer>
						<type>singleton</type>
						<class>mobisociallogin2/observer</class>
						<method>controller_action_predispatch_adminhtml</method>
					</Mobicommerce_Mobisociallogin2_observer>
		       </observers>				
			</controller_action_predispatch_adminhtml>
		</events>		
		<translate>
			<modules>
				<Mobicommerce_Mobisociallogin2>
					<files>
						<default>Mobicommerce_Mobisociallogin2.csv</default>
					</files>
				</Mobicommerce_Mobisociallogin2>	
			</modules>
		</translate>	
    </adminhtml>   
    <global>
        <models>
            <mobisociallogin2>
                <class>Mobicommerce_Mobisociallogin2_Model</class>
                <resourceModel>mobisociallogin2_mysql4</resourceModel>
            </mobisociallogin2>
            <mobisociallogin2_mysql4>
                <class>Mobicommerce_Mobisociallogin2_Model_Mysql4</class>
                <entities>
                    <customer>
                        <table>twlogin_customer2</table>
                    </customer>
                </entities>
            </mobisociallogin2_mysql4>
        </models>
        <resources>
            <mobisociallogin2_setup>
                <setup>
                    <module>Mobicommerce_Mobisociallogin2</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mobisociallogin2_setup>
            <mobisociallogin2_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mobisociallogin2_write>
            <mobisociallogin2_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mobisociallogin2_read>
        </resources>
        <blocks>
            <mobisociallogin2>
                <class>Mobicommerce_Mobisociallogin2_Block</class>
            </mobisociallogin2>
        </blocks>
        <helpers>
            <mobisociallogin2>
                <class>Mobicommerce_Mobisociallogin2_Helper</class>
            </mobisociallogin2>
        </helpers>
    </global>
	
	<default>
		<mobisociallogin2>
			<general>
				<is_active>0</is_active>
			</general>
			<twlogin>
				<is_active>0</is_active>
				<sort_order>3</sort_order>
			</twlogin>
			<gologin>	
				<is_active>0</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
				<sort_order>2</sort_order>
			</gologin>
			<fblogin>	
				<is_active>0</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
				<sort_order>1</sort_order>
			</fblogin>
		</mobisociallogin2>
	</default>
</config>
