<?xml version="1.0"?>
<config>
    <tabs>
        <mobicommerce2 translate="label">
            <label>MobiCommerce 2.0 Extension</label>
            <sort_order>400</sort_order>
        </mobicommerce2>
    </tabs>
	<sections>
        <mobisociallogin2 translate="label" module="mobiadmin2">
            <class>separator-top</class>
            <label>Social Login</label>
            <tab>mobicommerce2</tab>
            <frontend_type>text</frontend_type>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<general translate="label">
                    <label>General Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<is_active translate="label">
                            <label>Active</label>
                            <frontend_type>select</frontend_type>              
                            <source_model>adminhtml/system_config_source_yesno</source_model>              
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active>
					</fields>	
				</general>
                <fblogin translate="label">
                    <label>Facebook Login Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_active translate="label">
                            <label>Active</label>
                            <frontend_type>select</frontend_type>              
                            <source_model>adminhtml/system_config_source_yesno</source_model>              
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <app_id translate="label">
                            <label>App ID</label>
                            <frontend_type>text</frontend_type>              
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<a href="http://developers.facebook.com/setup/" target="_bank">Register</a>]]></comment>
                        </app_id>
                        <app_secret translate="label">
                            <label>App Secret</label>
                            <frontend_type>text</frontend_type>              
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </app_secret>
                        <is_send_password_to_customer translate="label">
                            <label>Send Password To Customer</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_send_password_to_customer>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>                      
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                    </fields>
                </fblogin>							
				<twlogin translate="label">
                    <label>Twitter Login Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_active translate="label">
                            <label>Active</label>
                            <frontend_type>select</frontend_type>              
                            <source_model>adminhtml/system_config_source_yesno</source_model>              
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <consumer_key translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>              
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<a href="http://twitter.com/apps/new" target="_bank">Register</a>]]></comment>
                        </consumer_key>
                        <consumer_secret translate="label">
                            <label>API Secret</label>
                            <frontend_type>text</frontend_type>              
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment></comment>
                        </consumer_secret>
                        <redirect_url translate="label">
                            <label>Callback URL</label>
                            <frontend_type>text</frontend_type>  
                            <frontend_model>mobisociallogin2/config_twitterredirecturl</frontend_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Please use this link for Callback URL field when registering with Twitter API]]></comment>
                        </redirect_url>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>                      
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                    </fields>	
                </twlogin>
				<gologin translate="label">
                    <label>Google Login Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<is_active translate="label">
                            <label>Active</label>
                            <frontend_type>select</frontend_type>              
                            <source_model>adminhtml/system_config_source_yesno</source_model>              
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>		
						<consumer_key translate="label">
                            <label>Client ID</label>
                            <frontend_type>text</frontend_type>              
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment><![CDATA[<a href="https://cloud.google.com/console" target="_bank">Register</a>]]></comment>
                        </consumer_key>
						<consumer_secret translate="label">
                            <label>Client Secret</label>
                            <frontend_type>text</frontend_type>              
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment></comment>
                        </consumer_secret>
                        <redirect_url translate="label">
                            <label>Redirect URIs </label>
                            <frontend_type>text</frontend_type>  
                            <frontend_model>mobisociallogin2/config_redirecturl</frontend_model>		
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Please use this link for Redirect URIs field when registering with Google API]]></comment>
                        </redirect_url>
						<is_send_password_to_customer translate="label">
                            <label>Send Password To Customer</label>
						  	<frontend_type>select</frontend_type>
						  	<source_model>adminhtml/system_config_source_yesno</source_model>
						  	<sort_order>20</sort_order>
						  	<show_in_default>1</show_in_default>
						  	<show_in_website>1</show_in_website>
						  	<show_in_store>1</show_in_store>
                        </is_send_password_to_customer>
						<sort_order translate="label">
							<label>Sort Order</label>
                            <frontend_type>text</frontend_type>                      
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</sort_order>
					</fields>
				</gologin>
            </groups>
        </mobisociallogin2>  
    </sections>
</config>